* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.logo {
  max-height: 80vh;
  max-width: 100vw;
}

header {
  height: 8vh;
  display: flex;
  background-color: #fccf0c;
  justify-content: flex-end;
}

a:link,
a:visited {
  background-color: #e39415;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #ebbc29;
  color: #000;
}

.nav-bar-button {
  align-self: center;
  margin: 0 0.5em;
  padding: 1em;
  font-weight: 700;
  font-style: normal;
}

.section-one {
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow {
  position: absolute;
  top: 90vh;
  transform: rotate(315deg);
  padding: 20px;
  box-shadow: 3px -3px 0 1px #ebbc29 inset;
  border: solid transparent;
  border-radius: 5px;
  border-width: 0 0 2px 2px;
  cursor: pointer;
}

.section-two {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #ebbc29;
  margin: 2rem;
  max-width: 70vw;
}

.form-description {
  color: #ebbc29;
  margin: 1rem;
  max-width: 70vw;
}

#option {
  display: none;
}

.background-section {
  background-image: url(../assets/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-container {
  background: #fff;
  border-radius: 25px;
  padding: 25px;
  width: max-content;
}
input {
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  background-color: #000;
}

.card-container button {
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  background-color: #000;
}

form {
  display: grid;
}

footer {
  height: 10vh;
  padding: 25px;
  text-align: center;
  background-color: #fccf0c;
  color: #000;
}
